html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #0DC92C url(images/img01.jpg) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	color: #221D1D;
}

h2 {
	font-size: 2.5em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 200%;
}

strong {
}

a {
	color: #2F2F2F;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

/*
hr {
	display: none;
}
	*/

/** WRAPPER */

#wrapper {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/* Logo */

#logo {
	width: 960px;
	height: 80px;
	margin: -100px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	/*text-transform: capitalize;*/
	font-size: 2.5em;
	color: #1F1F1F;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

#logo p a {
	color: #595959;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #1F1F1F;
	color: #911714;
}

/** MENU */

#menu {
	overflow: hidden;
	width: 1100px;
	height: 70px;
	margin: 0px 50px;
	background: #AAAAAA;
	font-size: 30px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
	color: #FEF9E7  ;
	border: none;
}


#menu .current_page_item a {
	color: green;
}

#menu a:hover{
	color: red;
}



#menu .last {
	border-right: none;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
	overflow: hidden;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	border-top: 1px solid #CBCBCB;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	text-align: center;
	color: #454545;
}

#footer a {
	color: #2F2F2F;
}

/* Footer Content */

#footer-content {
	overflow: hidden;
	width: 1100px;
	padding: 50px;
	background: #ECECEC;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #666666;
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 24px;
}

#footer-content #fbox1 {
	float: left;
	width: 600px;
	margin-right: 30px;
}

#footer-content #fbox2 {
	float: left;
	width: 220px;
}

#footer-content #fbox3 {
	float: right;
	width: 220px;
}

/* Welcome */


#welcome {
	width: 1100px;
	margin: 0px auto;
	padding: 30px 50px;
}

#welcome .content {
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid #D4D4D4;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	text-decoration: none;
	color: #000000;
}


/* Three Columns */

#three-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 50px 50px 0px 50px;
}

#three-columns .content {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
}

#three-columns p{
	padding: 0px 0px 0px 8px;
}

#three-columns h2 {
	padding: 3px 0px 3px 0px;
	background: #AED6F1 ;
	color: #5B2C6F;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#three-columns #column1 {
	float: left;
	width: 280;
	height: 250;
	margin-left: 50px;
	border: 2px solid black;
	
}

#three-columns #column2 {
	float: left;
	margin-left: 80px;
	width: 280px;
	border: 2px solid black;
	height: 250;
}

#three-columns #column3 {
	float: right;
	width: 280px;
	margin-right: 50px;
	border: 2px solid black;
	height: 250;
}

/* Two Columns */

#two-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 40px 50px 0px 50px;
}
#two-columns h2 {
	padding: 0px 0px 20px 55px;
	background: url(images/icon.png) no-repeat left -1px;
	color: #000000;

}

#two-columns #col1 {
	float: left;
	width: 730px;
}

#two-columns #col2 {
	float: right;
	width: 320px;
	
}


/* List Style 1 */

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
	font-weight: bold;
	color: #212121;
}

.list-style1 img {
	float: left;
	margin-right: 25px;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List Style 2 */

.list-style2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style: none;
}

.list-style2 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #D4D4D4;
}


.list-style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #000000;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	color: #FFFFFF;
	border-radius:20px;
}

.link-style:hover{
	background: #D0D3D4 ;
	color: #FFFFFF;
}

a:hover{
	color: blue; 
}

#banner {
	width: 1100px;
	margin: 10px auto 0px auto;
}








